<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>automationDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F3211701E78FFCC00BEB618</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA768501CC5FF97008E168E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB8BA901CBE50970050510A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB8BAA41CBE50970050510A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
